/* .navBarLeft{
  height: 10vh;
  width: 30%;
  background-color: rgb(84, 158, 210);
}

.navBarCenter{
  height: 10vh;
  width: 40%;
  background-color: yellow;
} */

/* .navBarCenterIcon{
  height: 10vh;
  width: 10%;
} */

/* .logo{
  height: 10vh;
} */

/* .navBarRight{
  height: 10vh;
  width: 30%;
  background-color: yellowgreen;
} */